<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="author" content="{{ site.author.full_name }}" />
<link rel="alternate" type="application/rss+xml" title="订阅Hi kooker" href="{{ site.production_url }}/atom.xml" />
<link href="{{ ASSET_PATH }}/css/style.css" media="screen" type="text/css" rel="stylesheet" />
</head>
<body>
  <header id="banner" class="header">
    <div class="wrapper">
      <a class="logo" href="{{ HOME_PATH }}" rel="nofollow" title="{{ site.tagline }}">{{ site.title }}</a>
      <nav class="menu">
        <ul>
          <li><a href="{{ HOME_PATH }}" rel="nofollow" title="首页">Home</a></li>{% assign pages_list = site.pages %}{% assign group = 'menu' %}{% include JB/pages_list %}
        </ul>
      </nav>
      <div class="clearfix"></div>
    </div>
  </header>

  <div class="content">
    <div class="wrapper">
      <div class="main">
        {{ content }}
      </div>

      <div class="sidebar">
        <aside id="bio" class="box">
          <header class="box-top">
            <img class="avatar" src="{{ ASSET_PATH }}/img/avatar.png" width="48" height="48" alt="" />
            <strong>{{ site.author.full_name }}</strong>
            {{ site.tagline }}
          </header>
          <div class="box-inner"><p>{{ site.author.bio }}</p></div>
          <footer class="box-bottom">
            <a href="{{ site.production_url }}/sitemap.xml" rel="alternate" title="网站地图">Sitemap</a>
            <a class="rss" href="{{ site.production_url }}/atom.xml" rel="alternate" title="订阅网站更新">RSS</a>
          </footer>
        </aside>

        <aside id="tags" class="box">
          <header class="box-top">
            <h1 class="aside-title">Tags</h1>
          </header>
          <div class="box-inner">
            {% assign tags_list = site.tags %}{% include JB/tags_list %}
          </div>
        </aside>

        <aside id="socials" class="box">
          <header class="box-top">
            <h1 class="aside-title">社交</h1>
          </header>
          <div class="box-inner">
            <ul>
              <li id="github"><a class="ir" href="https://github.com/kooker" title="github" rel="external">github</a></li>
              <li id="diandian"><a class="ir" href="http://hi.kooker.jp/" title="Hi kooker" rel="external">Hi kooker</a></li>
            </ul>
          </div>
        </aside>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <footer id="colophon" class="footer">
    <div class="wrapper">
      <div class="credits f-left">
        <nav class="other-pages">
          <ul>{% assign pages_list = site.pages %}{% assign group = 'footer' %}{% include JB/pages_list %}</ul>
        </nav>
        <p><strong>&#169;&#160;{{ site.time | date: '%Y' }}&#160;{{ site.title }}</strong></p>
        <p>感谢 <a href="http://www.olivida.com/" rel="external nofollow"><strong>OLIVIDA</strong></a> 的 UI 设计</p>
        <p>如无特殊说明，本网站内容基于“<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh" rel="license external nofollow"><strong>CC BY-NC-SA 3.0</strong></a>”发布</p>
      </div>

      <div class="site-generator f-right">
        <a href="https://github.com/mojombo/jekyll" rel="external generator nofollow" title="Jekyll is a simple, blog aware, static site generator.">
          <img src="{{ ASSET_PATH }}/img/jekyll.png" width="160" height="35" alt="Jekyll" />
        </a>
      </div>

      <div class="clearfix"></div>
    </div>
  </footer>
<aside style="display:none;">{% include JB/analytics %}</aside>
</body>
</html>
