<article class="hentry entry post box">
  <header class="entry-data box-top">
    <h1 class="entry-title"><a rel="bookmark" href="{{ page.url }}" title="{{ page.title | escape }}">{{ page.title }}</a></h1>
    <p class="entry-meta">{{ site.author.name }} 发布于 {{ page.date | date: '%Y年%-m月%-d日' }}</p>
  </header>
  <div class="entry-content box-inner">
    {{ content }}
  </div>
  {% unless page.tags == empty %}
    <ul class="entry-tags">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}
  {% include JB/comments %}
</article>
<aside><script src="{{ ASSET_PATH }}/google-code-prettify/prettify.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('pre').addClass('prettyprint linenums') //添加Google code Hight需要的class
    })
</script></aside>
{% if page.previous or page.next %}
<div class="navigation box">
  {% if page.previous %}
  <div class="prev">
    <a rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title | escape }}">&laquo; 上一篇文章</a>
  </div>
  {% endif %}

  {% if page.next %}
  <div class="next">
    <a rel="next" href="{{ page.next.url }}" title="{{ page.next.title | escape }}">下一篇文章 &raquo;</a>
  </div>
  {% endif %}
</div>
{% endif %}
